In [4]:
import pandas as pd
import sys
import os
sys.path.append("../")
sys.path.append("../..")

# Data Ingestion Initialization

## DB Client

In [5]:
from KETIPreDataIngestion.KETI_setting import influx_setting_KETI as ins
from KETIPreDataIngestion.data_influx import influx_Client

DBClient = influx_Client.influxClient(ins)
db_list = DBClient.get_DBList()

In [6]:
db_list

['traffic_seoul_subway',
 'traffic_seoul_bus',
 'test',
 'energy_electronic_power',
 'test_bio_covid',
 'test_indoor_high',
 'air_indoor_중학교',
 'traffic_seoul_bike',
 'traffic_public_parking',
 'energy_electricity_transaction',
 'energy_fire_power',
 'traffic_expressway',
 'farm_inner_air',
 'farm_outdoor_weather',
 'farm_outdoor_weather_clean',
 'farm_outdoor_air',
 'farm_outdoor_air_clean',
 'air_outdoor_에어코리아',
 'energy_water_discharge',
 'energy_wind_power',
 'city_exhibition_entrance_status',
 'bio_covid_vaccinations',
 'air_indoor_유치원',
 'air_indoor_요양원',
 'air_indoor_아파트',
 'air_indoor_도서관',
 'air_indoor_경로당',
 'air_indoor_초등학교',
 'air_indoor_체육시설',
 'air_indoor_어린이집',
 'air_indoor_고등학교',
 'air_outdoor',
 'bio_covid_infected_world',
 'bio_covid_infected_korea',
 '_internal',
 'bio_test_infected']

## DB and Measurement name setting

In [7]:
db_name  = 'farm_inner_air'

In [10]:
ms_list = DBClient.measurement_list(db_name)
ms_name = ms_list[0]
ms_name

'HS1'

# Data Ingestion Methods

## pure data ingestion

### Ingest Full Data

In [6]:
print(db_name, ms_name)

farm_inner_air HS1

In [7]:
feature_list = DBClient.get_fieldList(db_name, ms_name)
number = "100"
data = DBClient.get_datafront_by_num(number, db_name, ms_name)
data.head()

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:36:00+00:00   637.0     5.0      74.0    45.0         24.0
2020-09-10 00:38:00+00:00   360.0     2.0      74.0    37.0         24.0
2020-09-10 00:40:00+00:00   465.0     3.0      73.0    31.0         24.0
2020-09-10 00:42:00+00:00   518.0     2.0      73.0    27.0         24.0
2020-09-10 00:44:00+00:00   670.0     2.0      73.0    24.0         24.0

In [8]:
first = DBClient.get_first_time(db_name, ms_name)
last = DBClient.get_last_time(db_name, ms_name)
print(first, last)

                      CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10T00:36:00Z   637.0     5.0      74.0    45.0         24.0
                      CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-03-17T23:30:00Z   993.0     2.0       7.0     2.0         79.0
2020-09-10T00:36:00Z 2021-03-17T23:30:00Z

In [9]:
full_data = DBClient.get_data(db_name, ms_name)

In [10]:
query_end_time = last
query_start_time = first
bind_params = {'end_time':query_end_time, 'start_time': query_start_time}
time_data = DBClient.get_data_by_time(bind_params, db_name, ms_name)
print(time_data.head())
print(time_data.tail())

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:36:00+00:00   637.0     5.0      74.0    45.0         24.0
2020-09-10 00:38:00+00:00   360.0     2.0      74.0    37.0         24.0
2020-09-10 00:40:00+00:00   465.0     3.0      73.0    31.0         24.0
2020-09-10 00:42:00+00:00   518.0     2.0      73.0    27.0         24.0
2020-09-10 00:44:00+00:00   670.0     2.0      73.0    24.0         24.0
                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-03-17 23:20:00+00:00   902.0     3.0       7.0     2.0         78.0
2021-03-17 23:22:00+00:00   944.0     2.0       7.0     2.0         78.0
2021-03-17 23:24:00+00:00   970.0     3.0       7.0     2.0         79.0
2021-03-17 23:26:00+00:00   977.0     2.0       7.0     2.0         79.0
2021-03-17 23:28:00+00:00   978.0     3.0       7.0     2.0         79.0

In [11]:
number="20"
time_data = DBClient.get_datafront_by_num(number, db_name, ms_name)
print(time_data.head())
print(time_data.tail())

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:36:00+00:00   637.0     5.0      74.0    45.0         24.0
2020-09-10 00:38:00+00:00   360.0     2.0      74.0    37.0         24.0
2020-09-10 00:40:00+00:00   465.0     3.0      73.0    31.0         24.0
2020-09-10 00:42:00+00:00   518.0     2.0      73.0    27.0         24.0
2020-09-10 00:44:00+00:00   670.0     2.0      73.0    24.0         24.0
                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:42:00+00:00   518.0     2.0      73.0    27.0         24.0
2020-09-10 00:44:00+00:00   670.0     2.0      73.0    24.0         24.0
2020-09-10 00:46:00+00:00    -1.0     NaN       NaN     NaN          NaN
2020-09-10 01:06:00+00:00   719.0     2.0      75.0    15.0         23.0
2020-09-10 01:08:00+00:00   682.0     3.0      75.0    14.0         24.0

In [12]:
days = 7 
bind_params = {'end_time': query_end_time,"days":str(days)+"d"}
day_data = DBClient.get_data_by_days(bind_params, db_name, ms_name)
print(day_data.head(), day_data.tail())

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-03-10 23:30:00+00:00   987.0     5.0       3.0     2.0         78.0
2021-03-10 23:32:00+00:00   955.0     3.0       3.0     2.0         78.0
2021-03-10 23:34:00+00:00   975.0     4.0       3.0     2.0         79.0
2021-03-10 23:36:00+00:00   936.0     5.0       3.0     2.0          NaN
2021-03-10 23:38:00+00:00   973.0     2.0       4.0     2.0         78.0                            CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-03-17 23:22:00+00:00   944.0     2.0       7.0     2.0         78.0
2021-03-17 23:24:00+00:00   970.0     3.0       7.0     2.0         79.0
2021-03-17 23:26:00+00:00   977.0     2.0       7.0     2.0         79.0
2021-03-17 23:28:00+00:00   978.0     3.0       7.0     2.0         79.0
2021-03-17 23:30:00+00:00   993.0     2.0       7.0     2.0         79.0