In [1]:
import pandas as pd
import sys
import os
sys.path.append("../")
sys.path.append("../..")
from KETIPreDataIngestion.KETI_setting import influx_setting_KETI as ins

# Data Ingestion Initialization

## DB Client

In [2]:
version = 2 # or 1

if version == 1: 
    from KETIPreDataIngestion.data_influx import influx_Client as influx_Client
    dataServer = ins.CLUSTDataServer
elif version == 2:
    from KETIPreDataIngestion.data_influx import influx_Client_v2 as influx_Client
    dataServer = ins.CLUSTDataServer2

DBClient = influx_Client.influxClient(dataServer)

In [3]:
db_list = DBClient.get_DBList()

## DB MS Frequency

In [4]:
db_name ='air_indoor_중학교'
ms_name = DBClient.measurement_list(db_name)[0]

     result  table        _value
0   _result      0  ICW0W2000010
1   _result      0  ICW0W2000011
2   _result      0  ICW0W2000012
3   _result      0  ICW0W2000013
4   _result      0  ICW0W2000014
5   _result      0  ICW0W2000015
6   _result      0  ICW0W2000016
7   _result      0  ICW0W2000017
8   _result      0  ICW0W2000018
9   _result      0  ICW0W2000019
10  _result      0  ICW0W2000020

In [5]:
freq = DBClient.get_freq(db_name, ms_name)

## DB and Measurement name setting

In [6]:
db_name  = 'bio_covid_infected_world'

In [7]:
ms_list = DBClient.measurement_list(db_name)
print(ms_list)

    result  table        _value
0  _result      0     argentina
1  _result      0     australia
2  _result      0       england
3  _result      0        france
4  _result      0       germany
5  _result      0         japan
6  _result      0         korea
7  _result      0  south_africa
8  _result      0         spain
9  _result      0           usa
['argentina', 'australia', 'england', 'france', 'germany', 'japan', 'korea', 'south_africa', 'spain', 'usa']

In [8]:
ms_list_only = DBClient.measurement_list_only_start_end(db_name)
ms_list_only

    result  table        _value
0  _result      0     argentina
1  _result      0     australia
2  _result      0       england
3  _result      0        france
4  _result      0       germany
5  _result      0         japan
6  _result      0         korea
7  _result      0  south_africa
8  _result      0         spain
9  _result      0           usa

['argentina', '...(+8)', 'usa']

In [9]:
ms_name = 'england'

# Data Ingestion Methods

## pure data ingestion

### Ingest Full Data

In [10]:
print(db_name, ms_name)

bio_covid_infected_world england

In [11]:
feature_list = DBClient.get_fieldList(db_name, ms_name)
print(feature_list)

['confirmed', 'deaths']

In [12]:
full_data = DBClient.get_data(db_name, ms_name)
full_data

                           confirmed  deaths
_time
2020-01-22 00:00:00+00:00          0       0
2020-01-23 00:00:00+00:00          0       0
2020-01-24 00:00:00+00:00          0       0
2020-01-25 00:00:00+00:00          0       0
2020-01-26 00:00:00+00:00          0       0
...                              ...     ...
2021-11-03 00:00:00+00:00    9215683  141607
2021-11-04 00:00:00+00:00    9252646  141826
2021-11-05 00:00:00+00:00    9286618  142019
2021-11-06 00:00:00+00:00    9317072  142174
2021-11-07 00:00:00+00:00    9346961  142236

[656 rows x 2 columns]

In [13]:
number = 100
data_front_number = DBClient.get_datafront_by_num(number, db_name, ms_name)
data_front_number

                           confirmed  deaths
_time
2020-01-22 00:00:00+00:00          0       0
2020-01-23 00:00:00+00:00          0       0
2020-01-24 00:00:00+00:00          0       0
2020-01-25 00:00:00+00:00          0       0
2020-01-26 00:00:00+00:00          0       0
...                              ...     ...
2020-04-26 00:00:00+00:00     158926   24053
2020-04-27 00:00:00+00:00     163630   24376
2020-04-28 00:00:00+00:00     168357   25347
2020-04-29 00:00:00+00:00     173807   26118
2020-04-30 00:00:00+00:00     178771   26754

[100 rows x 2 columns]

In [14]:
number = 100
data_end_number = DBClient.get_dataend_by_num(number, db_name, ms_name)
data_end_number

                           confirmed  deaths
_time
2021-07-31 00:00:00+00:00    5883421  129949
2021-08-01 00:00:00+00:00    5907594  130014
2021-08-02 00:00:00+00:00    5929881  130039
2021-08-03 00:00:00+00:00    5951736  130179
2021-08-04 00:00:00+00:00    5980887  130300
...                              ...     ...
2021-11-03 00:00:00+00:00    9215683  141607
2021-11-04 00:00:00+00:00    9252646  141826
2021-11-05 00:00:00+00:00    9286618  142019
2021-11-06 00:00:00+00:00    9317072  142174
2021-11-07 00:00:00+00:00    9346961  142236

[100 rows x 2 columns]

In [15]:
first = DBClient.get_first_time(db_name, ms_name)
last = DBClient.get_last_time(db_name, ms_name)
print(first)
print(last)

2020-01-22 00:00:00+00:00
2021-11-07 00:00:00+00:00

In [16]:
end_time = last
start_time = first
time_data = DBClient.get_data_by_time(start_time, end_time, db_name, ms_name)
print(time_data.head())
print(time_data.tail())

                           confirmed  deaths
_time
2020-01-22 00:00:00+00:00          0       0
2020-01-23 00:00:00+00:00          0       0
2020-01-24 00:00:00+00:00          0       0
2020-01-25 00:00:00+00:00          0       0
2020-01-26 00:00:00+00:00          0       0
                           confirmed  deaths
_time
2021-11-02 00:00:00+00:00    9174153  141390
2021-11-03 00:00:00+00:00    9215683  141607
2021-11-04 00:00:00+00:00    9252646  141826
2021-11-05 00:00:00+00:00    9286618  142019
2021-11-06 00:00:00+00:00    9317072  142174

In [17]:
days = 7 
day_data = DBClient.get_data_by_days(end_time, str(days)+'d', db_name, ms_name)
print(day_data.head())
print(day_data.tail())

                           confirmed  deaths
_time
2021-10-31 00:00:00+00:00    9100442  141055
2021-11-01 00:00:00+00:00    9140441  141098
2021-11-02 00:00:00+00:00    9174153  141390
2021-11-03 00:00:00+00:00    9215683  141607
2021-11-04 00:00:00+00:00    9252646  141826
                           confirmed  deaths
_time
2021-11-03 00:00:00+00:00    9215683  141607
2021-11-04 00:00:00+00:00    9252646  141826
2021-11-05 00:00:00+00:00    9286618  142019
2021-11-06 00:00:00+00:00    9317072  142174
2021-11-07 00:00:00+00:00    9346961  142236

In [18]:
type(end_time)

pandas._libs.tslibs.timestamps.Timestamp

## Use 2.0.9 version

In [19]:
end_time = last
start_time = first
number = 100
if version == 2:    
    data_limit_time = DBClient.get_data_limit_by_time(start_time, end_time, number, db_name, ms_name)
    data_limit_time

In [20]:
if version == 2: 
    data_count = DBClient.get_data_count(db_name, ms_name)
    print(data_count)

656

## Tag methods

In [21]:
db_name  = 'finance_korean_stock'

In [22]:
ms_list = DBClient.measurement_list(db_name)
print(ms_list)

ApiException: (404)
Reason: Not Found
HTTP response headers: HTTPHeaderDict({'Content-Type': 'application/json; charset=utf-8', 'Vary': 'Accept-Encoding', 'X-Influxdb-Build': 'OSS', 'X-Influxdb-Version': '2.0.9', 'X-Platform-Error-Code': 'not found', 'Date': 'Thu, 07 Apr 2022 09:33:51 GMT', 'Transfer-Encoding': 'chunked'})
HTTP response body: b'{"code":"not found","message":"failed to initialize execute state: could not find bucket \\"finance_korean_stock\\""}'

In [ ]:
ms_name = 'stock'

In [ ]:
tag_list = DBClient.get_tagList(db_name, ms_name)
print(tag_list)

In [ ]:
tag_key = 'company'
tag_distinct_value = DBClient.get_TagValue(db_name, ms_name, tag_key)
tag_distinct_value

In [ ]:
tag_value='컴캐스트'
tag_value_data = DBClient.get_TagGroupData(db_name, ms_name, tag_key, tag_value)
tag_value_data